@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Momo+Trust+Display&display=swap');
@import "tailwindcss";  